{% load i18n applicationcontent_tags %}
<ul class="breadcrumb"><!-- {{ progress }} -->
  <li {% if progress in 'cart checkout discounts confirmation' %}class="active"{% endif %}><a href="{% app_reverse "plata_shop_cart" "simpleshop.urls" %}">{% trans 'Cart' %}</a> <span class="divider">&gt;</span></li>
  <li {% if progress in 'checkout discounts confirmation' %}class="active"{% endif %}><a href="{% app_reverse "plata_shop_checkout" "simpleshop.urls" %}">{% trans 'Address' %}</a> <span class="divider">&gt;</span></li>
  <li {% if progress in 'discounts confirmation' %}class="active"{% endif %}><a href="{% app_reverse "plata_shop_discounts" "simpleshop.urls" %}">{% trans 'Vouchers' %}</a> <span class="divider">&gt;</span></li>
  <li {% if progress in 'confirmation' %}class="active"{% endif %}><a href="{% app_reverse "plata_shop_confirmation" "simpleshop.urls" %}">{% trans 'Payment' %}</a></li>
</ul>